.iamge {
  height: 45px;
}
.album-name {
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
#link {
  color: gray;
  font-size: 13px;
  font-weight: 400;
}
#time {
  color: gray;
  font-size: 13px;
  font-weight: 400;
}
.amount {
  font-weight: 500;
  font-size: 16px;
}
